/**  umb_name:heading 1 */
h1 {
  font-size: 24px;
}

/**  umb_name:heading 2 */
h2 {
  font-size: 22px;
}

/**  umb_name:heading 3 */
h3 {
  font-size: 20px;
}

/**  umb_name:heading 4 */
h4 {
  font-size: 18px;
}

/**  umb_name:heading 5 */
h5 {
  font-size: 16px;
}

/**  umb_name:heading 6 */
h6 {
  font-size: 14px;
}

